	</body>
</html>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
  $('#flash').hide().delay(100).fadeIn(200).delay(2500).fadeOut(600);
</script>